@model WebApplication1.ViewModels.AuthLogin 

@{
    ViewBag.Title = "Login";
}

@*<p>
    The value of test in our model, is: @Model.Test
</p>*@

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <div>
            @Html.LabelFor(x => x.Username)
            @Html.EditorFor(x => x.Username)
        </div>

        <div>
            @Html.LabelFor(x => x.Password)
            @Html.EditorFor(x => x.Password)
        </div>

        <div>
            <input type="submit" value="Login" />
        </div>
    }
