@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - WebApplication1</title>
    
    @Styles.Render("~/styles")
</head>
<body>
<header>
    <h1>
        <a href="@Url.RouteUrl("Home")">Web Application 1</a>
        <i class="glyphicon glyphicon-bell"> </i>
    </h1>
    
    @if (User.Identity.IsAuthenticated)
    {
        <p>Welcome back, @User.Identity.Name</p>
        <a href="@Url.RouteUrl("logout")">Logout</a>

        if (User.IsInRole("admin"))
        {
            <a href="@Url.Action("index", "Posts", new {area="admin"})">View post in admin</a>
        }
    }
    else
    {
        <a href="@Url.RouteUrl("login")">Login</a>
    }
</header>
    
<!-- INSERT VIEW HERE! -->
    @RenderBody()
    
<footer>
    &copy; @DateTime.UtcNow.Year - Me  
</footer>

@Scripts.Render("~/scripts")
@RenderSection("Scripts", false)

</body>
</html>
