@using System.Web.Optimization
@{
    Layout = null;
}

@helper SelectedTabClass(string tabName){
    if (tabName == ViewBag.SelectedTab)
    {
        @: active
    }
}

<!DOCTYPE html>

<html>
<head>
    <title>WebApplication1 Admin</title>

    @Styles.Render("~/admin/styles")
</head>
<body>
   
    <div class="container">
        <ul class="nav nav-pills">
            <li class="@SelectedTabClass("posts")">
                @Html.ActionLink("Posts", "Index", "Posts", new {area="admin"}, new { })
            </li>
            <li class="@SelectedTabClass("users")">
                @Html.ActionLink("Users", "Index", "Users", new { area = "admin" }, new { })
            </li>
            <li class="pull-right">
                @Html.RouteLink("Back to Website", "Home")
            </li>
        </ul>
        @RenderBody()
    </div>

    @*<h1>This is the admin</h1>*@
    
    @Scripts.Render("~/admin/scripts")
    @RenderSection("Scripts", false)

</body>
</html>
